
data/pubmed-rct-master/PubMed_200k_RCT/train.7z
data/pubmed-rct-master
data/use/variables/variables.index
data/use/variables/variables.data-00000-of-00001
data/use/saved_model.pb




saved-models/90_percent_model_2_lakh_para/fingerprint.pb
saved-models/90_percent_model_2_lakh_para/keras_metadata.pb
saved-models/90_percent_model_2_lakh_para/variables/variables.data-00000-of-00001
saved-models/90_percent_model_2_lakh_para/saved_model.pb
saved-models/90_percent_model_2_lakh_para/variables/variables.index
api/model_checkpoints/90_percent_model_2_lakh_para/variables/variables.index
api/model_checkpoints/90_percent_model_2_lakh_para/variables/variables.data-00000-of-00001
api/model_checkpoints/90_percent_model_2_lakh_para/saved_model.pb
api/model_checkpoints/90_percent_model_2_lakh_para/keras_metadata.pb
api/model_checkpoints/90_percent_model_2_lakh_para/fingerprint.pb
